.section {
  margin-top: 10px;
  padding: 20px;
  display: none;
  background-color: #CAF7F3;
}

.btn-primary {
  width: 200px;
}

.sub-section {
  background-color: #D4FFFB;
  margin: 10px;
  padding: 20px;
  display: none;
}

.other-section {
  background-color: #D4FFFB;
  margin: 10px;
  padding: 20px;
}

.other-section-title {
  font-size: 22px;
  font-weight: bold;
}

.center-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.center-text {
  text-align: center;
}

body {
  background-color: #CAF7F3 !important;
}

#main, header {
  margin: 20px 0 20px 0;
}

#main {
  background-color: #03998B;
  padding: 30px 0 30px;
}


p, li {
  font-size: 18px;
}

.btn {
  margin-top: 20px;
}

.skill-tag {
  display: inline-block;
  background-color:#C2FFC7;
  color:#149B1E;
  font-size: 18px;
  padding:5px 10px 5px 10px;
  margin: 10px 10px 20px 0;
  border-radius: 10px;
}

.learning-tag {
  display: inline-block;
  background-color:#bbeff2;
  color:#090c4e;
  font-size: 18px;
  padding:5px 10px 5px 10px;
  margin: 10px 10px 20px 0;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

#name {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  color: white;
}

.contact-links {
  font-size: 64px;
  color: black;
}

.contact-links:hover {
  font-size: 64px;
  color: #00DFCB;
}

#profile-picture {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

.rotate-180 {
  transform: rotate(-180deg);
}
